.example-container
  display: flex
  flex-direction: column
  max-height: 350px
  min-width: 300px
  overflow-y: scroll
  padding-top: 35px

  .example-header
    min-height: 64px
    display: flex
    align-items: center
    padding-left: 24px
    font-size: 20px

  .md-table
    overflow: initial
    max-height: 100vh

  md-cell
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

.created-at
  flex: 0 0 115px

.retweeted-by
  flex: 0 0 150px
