.settings
  mat-input-container,
  md-select
    padding-left: 15px

  md-icon
    cursor: pointer

  #refreshTweetsButton
    width: 45px

  //md-card
  //  height: 100vh

  md-chip-list.columns
    display: flex
    flex-direction: column
